<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 2</title>
  </head>

  <style media="screen">

  .inlineblock {
    width:400px;
    display:inline-block;

  }

  </style>

  <body>

    <div class="inlineblock">Originalism. The leading force of design revolution are Chinese designers, while our theoretical basis is Originalism. If there’s a revolution, then there must be a leading theme, according to revolutionary theories and styles. Without such a theme, it’s impossible to beat the so–called plagiarism and its followers. If there’s no effort towards Originalism and if Chinese Designer isn’t the protagonist of Chinese design, China will never achieve independence and freedom in design field. Originalism is the aiming core for all Chinese designers, and without it Originalism as a business cannot win. </div>
    <div class="inlineblock">Originalism. The leading force of design revolution are Chinese designers, while our theoretical basis is Originalism. If there’s a revolution, then there must be a leading theme, according to revolutionary theories and styles. Without such a theme, it’s impossible to beat the so–called plagiarism and its followers. If there’s no effort towards Originalism and if Chinese Designer isn’t the protagonist of Chinese design, China will never achieve independence and freedom in design field. Originalism is the aiming core for all Chinese designers, and without it Originalism as a business cannot win.</div>
    <div class="inlineblock">Originalism. The leading force of design revolution are Chinese designers, while our theoretical basis is Originalism. If there’s a revolution, then there must be a leading theme, according to revolutionary theories and styles. Without such a theme, it’s impossible to beat the so–called plagiarism and its followers. If there’s no effort towards Originalism and if Chinese Designer isn’t the protagonist of Chinese design, China will never achieve independence and freedom in design field. Originalism is the aiming core for all Chinese designers, and without it Originalism as a business cannot win.</div>

  </body>
</html>
